/* main */

* {
    font-family: 'Nunito', sans-serif;
    margin: 0.3em;
}

.skip-link {
    position: absolute;
    transform: translateY(-220%);
}

.skip-link:focus {
    transform: translateY(0);
}

ul {
    list-style-type: none;
    line-height: 2em;
    padding-bottom: 1em;
}

body {
    line-height: 1.5;
  }
  
h1 {
    font-size: 52px;
    line-height: 2;
}

h2 {
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 1em;
}

p {
    max-width: 65ch;
    line-height: 1.8;
}

.container > p {
    padding-bottom: 1.8em;
}

about > blockquote{
    padding-left: 2em;
    padding-bottom: 1em;
}
